.features {
    height: 803px;
    @media (max-width: 1200px){
        height: 650px;
    }
    @media (max-width: 992px){
        height: 500px;
    }
    @media (max-width:768px){
        height: 490px;
    }
    @media (max-width: 676px){
        height: 700px;
        margin: 0 auto;
    }
    background-color: #313131;
    position: relative;
    overflow: hidden;
    .features-wrapper {
        display: flex;
        .row{
            @media (max-width: 676px){
                display: block;
                & .col-sm-6{
                    width: 100%;
                }
            }
            .features__text{
                @media (max-width: 576px){
                    padding: 0 17px 0 0;
                }
            }
        }
        .features__slider-img{
            img {
                padding: 44px 31px 0;
                @media (max-width: 1200px){
                    padding-top:25px;

                }
                @media (max-width: 992px){
                }
                @media (max-width:768px){
                    margin-top: 20px;
                    padding: 10px 10px 0;
                    width: 75px;
                    height: 65px;
                } 
            }
        }
        .features__img{
            img{
                padding: 101px 0 0 61px;
                @media (max-width: 1200px){
                    width: 400px;
                    height: 800px;
                }
                @media (max-width: 992px){
                    width: 350px;
                    height: 750px;
                    padding-top: 50px;
                }
                @media (max-width:768px){
                    margin-left: 0;
                    width: 310px;
                    height: 600px;
                }
                @media (max-width: 676px){
                    padding-top: 0;
                    margin-left: 72px;
                }
                @media (max-width: 576px){
                    margin-left: 0;
                }
                @media (max-width: 400px){
                    padding-left: 0px;
                    padding-right: 30px;
                }
            }
        }
        .features__title {
            @include title;
            color: #fff;
            margin: 165px 0 0 90px;
            @media (max-width: 1200px){
                margin-top: 60px;
            }
            @media (max-width: 992px){
                margin: 40px 0 0 30px;
                font-size: 35px;
            }
            @media (max-width:768px){
                text-align: center;
                font-size: 28px;
                margin-left: 0;
            }
            @media (max-width: 676px){
                text-align: center;
                margin-top: 20px;
            }
        }
        .features__subtitle {
            font-style: $font-subtitle;
            font-size: 18px;
            line-height: 27px;
            color: #aeaeae;
            padding: 24px 0 0 90px;
            @media (max-width: 1200px){
            }
            @media (max-width: 992px){
                font-size: 17px;
                padding-left: 30px;
            }
            @media (max-width:768px){
                text-align: center;
                font-size: 16px;
                padding-left: 0;
            }
        }
        .features__slider-flex-2{
            padding-top: 33px;
            @media (max-width: 1200px){
                padding-top:10px;

            }
            @media (max-width: 992px){
            }
            @media (max-width:768px){
            } 
            .features__slider-subtitle{
                padding: 6px 35px 28px 0; 
                @media (max-width: 1200px){
                    padding-right: 9px;
                    padding-bottom: 10px;
                    font-size: 15px;
                }
                @media (max-width: 992px){
                    font-size: 13px;
                }
                @media (max-width:768px){
                    font-size: 12px;
                }
            }
        }
        .features__slider-item {
            display: flex;
            background-color: #fff;
            .features__slider-title {
                color: #cc5858;
                font-size: 18px;
            }
        }
        .features__slider {
            min-width: 0;
            overflow: hidden;
            width: 560px;
            padding: 50px 0 0 90px;
            @media (max-width: 1200px){
                width: 460px;
                padding: 50px 0 0 60px;
            }
            @media (max-width: 992px){
                width: 400px;
                padding: 30px 0 0 30px;
            }
            @media (max-width:768px){
                width: 300px;
                padding-left: 0;
            }
            @media (max-width:676px){
                width: 400px;
                margin: 0 auto;
            }
            @media (max-width:468px){
                width: 300px;
                padding-top: 0;
            }
            .slick-slide {
                width: 400px;
                border-top-left-radius:5px;
                border-top-right-radius:5px;
            }
            .features__slider-item {
                display: flex;
                min-width: 0;
            }
            .slick-list {
                overflow: hidden;
            }
            .slick-track {
                display: flex;
            }
            .slick-dots {
                display: flex;
                justify-content: flex-start;
                padding-bottom: 18px;
                gap: 5px;
                background-color: #f06464;
                border-bottom-right-radius:5px;
                border-bottom-left-radius:5px;
                li {
                    list-style: none;
                }
                button {
                    font-size: 0;
                    width: 9px;
                    height: 12px;
                    background-color: transparent;
                    border: 1px solid #fff;
                    border-radius: 50%;
                }
                li.slick-active button {
                    background-color: #fff;
                    border-radius: 50%;
                }
            }
        }
    }
}