.gallery {
    //height: 803px;
    background-color: #fff;
    .gallery-wrapper {
        padding: 68px 0 0 85px;
        .gallery__title {
            @include title;
            color: #f06464;
        }
        .gallery__subtitle {
            font-style: $font-subtitle;
            font-size: 18px;
            line-height: 27px;
            color: #aeaeae;
            padding: 11px 0 0 4px;
        }
    }
    .gallery__slider{
        width: max-content;
        margin: 0 auto;
        padding-top: 61px;
        .row{
            width: 2002px;
            @media (max-width:2002px){
                max-width: 1170px;
                & .gallery__photo-item img{
                    max-width: 100%;
                }
            }
            @media (max-width:1201px){
                max-width: 800px;
                & .gallery__photo-item img{
                    height: 75%;
                }
            }
        }
        .gallery__photos{
            padding: 0;
            img{
                height: 520px;
            }
            .gallery__photo-l{
                position: absolute;
                width: 100%;
                bottom: -39px;
                display: none;
                justify-content: space-between;
                background-color: #151515;
                padding: 0 19px;
                img{
                    width: 25px;
                    height: 21px;
                    margin: auto 0;
                }
                .gallery__subtitle{
                    font-size: 18px;
                    color: #c2c2c2;
                    margin: auto 0;
                    padding: 20px 13px 34px;
                }
                .l-num{
                    font-style: $font-subtitle;
                    font-size: 27px;
                    margin: auto 10px;
                    color: #de5d5d;
                }
                .gallery__photo-l-num{
                    display: flex; 
                }
            }
        }
        .gallery__photo-item:hover{
            -webkit-transform: translate(0px, -38px);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            .gallery__photo-l{
                display: flex;
            }    
        }
        .gallery__photo-item{
            position: relative;
        }
        .gallery__photo-2 img{
            width: 518px;
            
        }
        .gallery__photo-3 img{
            width: 517px;
        }
        @media (max-width:2002){
            
        }
    }
}