.gallery {
    //height: 803px;
    background-color: #fff;
    .gallery-wrapper {
        padding: 68px 0 0 85px;
        .gallery__title {
            @include title;
            color: #f06464;
        }
        .gallery__subtitle {
            font-style: $font-subtitle;
            font-size: 18px;
            line-height: 27px;
            color: #aeaeae;
            padding: 11px 0 0 4px;
        }
    }
    .slider{
        width: max-content;
        margin: 0 auto;
        padding-top: 61px;
        .col{
            padding: 0;
            img{
                height: 520px;
            }
            .gallery__photo-l{
                display: none;
                justify-content: space-between;
                background-color: #151515;
                padding: 0 19px;
                img{
                    width: 25px;
                    height: 21px;
                    margin: auto 0;
                }
                .gallery__subtitle{
                    font-size: 18px;
                    color: #c2c2c2;
                    margin: auto 0;
                    padding: 29px 13px 30px;
                }
                .l-num{
                    font-style: $font-subtitle;
                    font-size: 27px;
                    margin: auto 10px;
                    color: #de5d5d;
                }
                .gallery__photo-l-num{
                    display: flex; 
                }
            }
        }
        .gallery__photo-1:hover .gallery__photo-l,
        .gallery__photo-2:hover .gallery__photo-l,
        .gallery__photo-3:hover .gallery__photo-l,
        .gallery__photo-4:hover .gallery__photo-l{
            display: flex;
        }
        .gallery__photo-2{
            width: 518px;
        }
        .gallery__photo-3{
            width: 517px;
        }
    }
}