.gallery {
    //height: 803px;
    background-color: #fff;
    .gallery-wrapper {
        padding: 68px 0 0 85px;
        @media (max-width: 992px){
            padding: 0px;
        }
        .gallery__title {
            @include title;
            color: #f06464;
            @media (max-width: 992px){
                padding-top: 40px;
                font-size: 35px;
                text-align: center;
            }
            @media (max-width:768px){
                padding-top: 30px;
                font-size: 28px;
            }
        }
        .gallery__subtitle {
            font-style: $font-subtitle;
            font-size: 18px;
            line-height: 27px;
            color: #aeaeae;
            padding: 11px 0 0 4px;
            @media (max-width: 992px){
                font-size: 17px;
                padding-left: 30px;
                padding-left: 0;
                text-align: center;
            }
            @media (max-width:768px){
                font-size: 16px;
            }
        }
    }
    .gallery__slider{
        width: max-content;
        margin: 0 auto;
        padding-top: 61px;
        @media (max-width:767px){
            padding-top: 20px;
        }
        .row{
            width: 2002px;
            @media (max-width:2002px){
                max-width: 1170px;
                & .gallery__photo-item {
                    height: 450px;
                    img{
                    max-width: 100%;
                    }
                }
            }
            @media (max-width: 1170px){
                max-width: 968px;
                max-height: 90%;
                & .gallery__photo-item {
                    height: 410px;
                    img{
                        height: 410px;
                        max-width: 100%;
                    }
                }
            }
            @media (max-width: 968px){
                max-width: 768px;
                max-height: 90%;
                & .gallery__photo-item {
                    height: 350px;
                    img{
                        max-width: 100%;
                        height: 350px;
                    }
                }
            }
            @media (max-width: 767px){
                margin: 0 auto;
                max-width: 400px;
                max-height: 90%;
                & .gallery__photo-item {
                    height: 350px;
                    img{
                    max-width: 90%;
                    }
                }
            }
            @media (max-width: 576px){
                max-width: 315px;
                & .gallery__photo-item {
                    height: 330px;
                    img{
                        max-width: 100%;
                        width: 100%;
                    }
                }
            }
        }
        .gallery__photos{
            padding: 0;
            img{
                height: 520px;
            }
            .gallery__photo-l{
                position: absolute;
                width: 100%;
                bottom: -39px;
                display: none;
                justify-content: space-between;
                background-color: #151515;
                padding: 0 19px;
                @media (max-width:767px){
                    width: 360px;
                }
                @media (max-width:576px){
                    width: 315px;
                }
                img{
                    width: 25px;
                    height: 21px;
                    margin: auto 0;
                }
                .gallery__subtitle{
                    font-size: 18px;
                    color: #c2c2c2;
                    margin: auto 0;
                    padding: 20px 13px 34px;
                    @media (max-width:968px){
                        font-size: 15px;
                        padding: 20px 13px;
                    }
                    @media (max-width:568px){
                        font-size: 14px;
                    }
                }
                .l-num{
                    font-style: $font-subtitle;
                    font-size: 27px;
                    margin: auto 10px;
                    color: #de5d5d;
                }
                .gallery__photo-l-num{
                    display: flex; 
                }
            }
        }
        .gallery__photo-item:hover{
            -webkit-transform: translate(0px, -38px);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            .gallery__photo-l{
                display: flex;
            }    
        }
        .gallery__photo-item{
            position: relative;
        }
        .gallery__photo-1{
            @media  (max-width:1199px) {
                width: 486px;
                img{
                    width: 100%;
                }
            }
            @media  (max-width:1170px) {
                width: 404px;
            }
            @media (min-width:768px)and (max-width:968px) {
                width: 320px;
            }
        }
        .gallery__photo-2 img{
            width: 518px;
            @media (max-width:767px){
                width: -webkit-fill-available;
            }
        }
        .gallery__photo-3 img{
            width: 517px;
        @media (min-width:1200px)and(max-width:2002px) {
            width: 480px;
        }
        }
        @media (max-width:767px){
            width: -webkit-fill-available;
        }
        .gallery__photo-4{
            img{
                width: 100%;
            }
        }
    }
}