.header {
    //position: fixed;
    background-color: #de5d5d;
    color: #fff;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1);
    .container {
        width: 1330px;
        padding: 0;
    }
    .navbar {
        padding-left: 71px;
        margin-top: 2px;
        .nav-link {
            color: #fff;
        }
    }
    .logo a {
        font-family: $font-title;
        font-size: 50px;
        font-weight: 700;
        color: #ffffff;
    }
    ul {
        padding: 12px 65px 0 0;
        gap: 22px;
        li a {
            @include little-title;
        }
        li {}
    }
    .collapse {
        justify-content: space-between;
    }
}