.header {
    //position: fixed;
    background-color: #de5d5d;
    color: #fff;
    .container {
        width: 1330px;
        padding: 0;
    }
    .navbar {
        padding-left: 136px;
    }
    .logo a {
        font-family: $font-logo;
        font-size: 50px;
        font-weight: 700;
        color: #ffffff;
    }
    ul {
        padding-top: 12px;
        gap: 26px;
        li a {
            @include fonts-style;
            color: #fff;
        }
    }
    .collapse {
        justify-content: space-between;
    }
}