.head {
    background-color: #de5d5d;
    color: #fff;
    background-image: url('../img/iphone1.png');
    background-size: 1554px 887px;
    //height: 696px;
    background-repeat: no-repeat;
    background-position: 51% 7px;
    margin-top: 91px;
    @media (max-width:1500px){
        background-size: 95% 95%;
        margin-top: 90px;
    }
    @media (max-width:1200px){
    }
    @media (max-width:968px){
        background-size: 95% 120%;
    }
    @media (max-width:568px){
        background-size: 95% 85%;
        margin-top: 74px;
    }
    .head__title {
        text-align: center;
        @include title;
        font-size: 90px;
        font-weight: 500;
        padding: 202px 0 64px;
        @media (max-width:1200px){
            padding: 150px 0 40px;
            font-size: 55px;
        }
        @media (max-width:768px){
            padding-top: 100px;
            font-size: 40px;
        }
        @media (max-width:568px){
            padding-top: 80px;
        }
    }
    button {
        font-family: $font-subtitle;
        font-size: 30px;
        line-height: 1.2;
        width: 245px;
        span {
            padding: 10px 0 0 15px;
        }
        @media (max-width:1200px){
            font-size: 22px;
            width: auto;
        }
        @media (max-width:800px){
            font-size: 18px;
            img{
               width: 30px;
               height: 35px; 
            }
        }
    }
    .head__slider-item {
        align-items: initial;
        display: flex;
        gap: 48px;
        margin: 0;
        justify-content: center;
        .head__button {
            border: 3px solid #fff;
            padding: 0.5rem 0.75rem;
        }
    }
    .head__slider {
        padding-bottom: 40px;
        @media (max-width:768px){
            padding-bottom: 20px;
        }
        .slick-list {
            margin-bottom: 159px;
            overflow: hidden;
            @media (max-width:1200px){
                margin-bottom: 100px;
            }
            @media (max-width:968px){
                margin-bottom: 50px;
            }
            @media (max-width:768px){
                margin-bottom: 30px;
            }
        }
        .slick-track {
            display: flex;
        }
        .slick-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 0;
            li {
                list-style: none;
                margin: 0 3px;
            }
            button {
                font-size: 0;
                width: 9px;
                height: 12px;
                background-color: transparent;
                border: 1px solid #fff;
                border-radius: 50%;
            }
            li.slick-active button {
                background-color: #fff;
                border-radius: 50%;
            }
        }
    }
}