.header {
    //position: fixed;
    background-color: #de5d5d;
    background-image: url('../img/iphone_header.png');
    //background-image: linear-gradient(0.0deg, #de5d5d 20%, rgba(222, 93, 93, 0.43) 59%, rgba(222, 93, 93, 0.0) 99%);
    background-size: 1554px 887px;
    height: 800px;
    background-repeat: no-repeat;
    .collapse {
        justify-content: space-between;
    }
}