.overview {
    text-align: center;
    .overview-wrapper {
        padding-bottom: 114px;
        @media (max-width:991px){
            padding-bottom: 50px;
        }
        @media (max-width:768px){
            padding-bottom: 30px;
        }
        @media (max-width: 450px){
            padding-bottom: 20px;
        }
        color: #666666;
        h1.overview__title {
            @include title;
            color: #3a3a3a;
            text-align: center;
            padding: 99px 0 53px 5px;
            @media (max-width: 992px){
                font-size: 50px;
            }
            @media (max-width:768px){
                padding: 40px 0;
                font-size: 40px;
            }
            @media (max-width: 568px){
                padding: 20px 0;
                font-size: 30px;
            }
        }
        div.overview__title {
            @include little-title;
            
            margin: 36px 0 0;
            @media (max-width: 568px){
               margin-top: 15px;
            }
        }
        .overview__subtitle {
            font-family: $font-subtitle;
            font-size: 16px;
            padding: 2px 0 0 15px;
            @media (max-width: 991px){
                padding: 2px 100px 20px 90px;
            }
            @media (max-width:767px){
                font-size: 14px;
                padding: 2px 50px 20px;
            }
            @media (max-width:767px){
                padding: 2px 10px 20px;
            }
        }
        .row {
            padding-left: 5px;
            @media (max-width:991px){
                img{
                    width: 150px;
                    height: 150px;
                }
            }
            @media (max-width: 568px){
                img{
                    width: 100px;
                    height: 100px;
                }
            }
        }
        .overview__col {
            margin: 1px 0 0 41px;
            @media (max-width:991px){
                margin: 1px 0 0 ;
            }
        }
    }
}