$font-subtitle:'Varela Round',
sans-serif;
$font-title: 'Montserrat',
sans-serif;
$font-logo:'Myriad Pro',
sans-serif;
@mixin title {
    font-family: $font-title;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 400;
}

@mixin little-title {
    font-family: $font-title;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
}

body {
    font-family: $font-subtitle;
}

.container {
    width: 1170px;
    @media (max-width: 1170px){
        width: 968px;
    }
}