$font-subtitle:'Varela Round',
sans-serif;
$font-title: 'Montserrat',
sans-serif;
$font-logo:'Myriad Pro',
sans-serif;
@mixin title {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
}

body {
    font-family: $font-subtitle;
}

.container {
    width: 1170px;
}